{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/login-page.css">
{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        test
    {% else %}
        <div class="login_div">
            {% if form.errors %}
                <p class="label_error">Your email and password didn't match. Please try again.</p>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" style="display: inline-grid;" action="{% url 'login' %}">
                {% csrf_token %}
                <input placeholder="email" type="text" name="username" autofocus="" autocapitalize="none"
                       autocomplete="username" maxlength="254" class="form-control" required="" id="id_username">
                <input placeholder="password" type="password" name="password" autocomplete="current-password"
                       class="form-control" required=""
                       id="id_password">
                <button type="submit" class="btn_login">sign in</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
            <div class="separator"><span>dont have account? <a
                    href="{% url 'signup' %}">sign up</a> or sign in with:</span></div>
            <div>
                <button onclick="location.href='{% url 'coco' %}'" class="btn_social">C</button>
                <button class="btn_social">G</button>
            </div>
        </div>
        {# Assumes you setup the password_reset view in your URLconf #}
    {% endif %}
{% endblock %}