{% extends 'base.html' %}


{% block body %}
    <div style="width: 400px; border-radius: 10px; border: 2px solid; margin: auto; padding: 10px; margin-top: 10px;">
        <button type="submit" onclick="get_token()">CREATE TOKEN</button>
        <div id="user_token"></div>
        <br><br>
        <form action="" id='sub_form' method="POST" style="display: grid;">
            {% csrf_token %}
            {{ form }}
            <button style="margin-top: 10px;width: 60px;margin:auto;" type="submit" id='form_sub'>Save
            </button>
        </form>
    </div>
    <script>
        function set_subscribe() {
            var data_form = $('#sub_form').serialize();
            $.ajax({
                type: 'POST', url: '{% url "get_token" %}',
                dataType: 'html',
                data: {'csrfmiddlewaretoken': scrf_token, data_form},
                dataType: 'json', cache: false,
                success: function (data) {
                    if (data.success) {
                        $('#user_token').text(data.success.key);
                    } else {
                        console.log(data)
                    }
                }
            });
        }

        function get_token() {
            $.ajax({
                type: 'POST', url: '{% url "get_token" %}',
                data: {'csrfmiddlewaretoken': scrf_token,},
                dataType: 'json', cache: false,
                success: function (data) {
                    if (data.success) {
                        $('#user_token').text(data.success.key);
                    } else {
                        console.log(data)
                    }
                }
            });
        }
    </script>
{% endblock %}