{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/compare-page.css">
{% endblock %}
{% block body %}
    <div class="columns">
        {% if products %}
            {% for product in products %}
                <div class="product_column">
                    {{ product.title }}<br>
                    {% for attr in product.attrs.all %}
                        <span class="attr_name">{{ attr.fkey_attr.name }}</span>:
                        <span class="attr_value">{{ attr.value }}</span> <br>
                    {% endfor %}
                    <div style="display: flex;">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button name="action" value="remove" style="margin-right: 4px;">Remove</button>
                        </form>
                        <button onclick="add2basket('{{ product.id }}')" id="btn_add2basket">Buy</button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <span class="text_empty">empty.</span>
        {% endif %}
    </div>

    <script>
        function add2basket(id) {
            $.ajax({
                type: 'POST', url: '{% url "basket_page" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'cnt': 1, 'type': 'add', 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        var $item = $('<span class="msg">' + data.success + '</span>');
                        $item.appendTo('.form_add_basket').delay(4000).slideUp(500, function () {
                            $item.remove();
                        });
                    } else {
                        var $item = $('<span class="msg">' + data.error + '</span>');
                        $item.appendTo('.form_add_basket').delay(4000).slideUp(500, function () {
                            $item.remove();
                        });
                    }
                }
            });
        }
    </script>
{% endblock %}