{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load product_tags %}
{% block head %}
    <link rel="stylesheet" href="/static/css/product-page.css">
    <script src="/static/js/product_tabs.js"></script>
{% endblock %}
{% block body %}
    <div><a class="product_title" style="text-decoration: none;color: dodgerblue;"
            href="{% url 'search_products_page' %}?q={{ product.cid.get.name }}">{{ product.cid.get.name }} </a><span
            class="product_title"> > {{ product.title }}</span></div>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Info')" id="default">Info</button>
        <button class="tablinks" onclick="openCity(event, 'About')">About</button>
        <button class="tablinks" onclick="openCity(event, 'Comments')">Comments</button>
    </div>
    <div id="Info" class="tabcontent">
        <div class="product_tab" style="display: block">
            <div style="display: flex;justify-content: center;">
                <div class="product_image_side">
                    {% if product.photo %}
                        <img class="product_img" src="{{ product.photo.url }}">
                    {% else %}
                        <img class="product_img" src="/static/img.jpeg">
                    {% endif %}
                </div>
                <div>
                    <div class="buy-information">
                        <div>
                            {% if product.stock == 0 %}
                                <span style="color: darkgray;font-size: 30px;">out of stock :(</span><br>
                                {% if is_sub_active_product %}
                                    <button class="button-available" type="button"
                                            onclick="subactivateproduct('{{ product.id }}', 'del')"
                                            id='btn_subactivateproduct'>don't inform about the availability
                                    </button>
                                {% else %}
                                    <button class="button-available" type="button"
                                            onclick="subactivateproduct('{{ product.id }}', 'add')"
                                            id='btn_subactivateproduct'>inform about the availability
                                    </button>
                                {% endif %}
                            {% else %}
                                {% if product.old_price != 0 %}
                                    <span>old price: {{ product.old_price }}</span><br>
                                    <span class="product_price" style="color: red;">{{ product.price|mul:rate_select_currency }} {{ disp_select_currency }}</span>
                                    <br>
                                {% else %}
                                    <span class="product_price">{{ product.price|mul:rate_select_currency }} {{ disp_select_currency }}</span>
                                    <br>
                                {% endif %}
                            {% endif %}
                            <span class="product_brand">
                                Brand:
                                <a href="{% url 'brand_page' product.brand_id %}">
                                    {{ product.brand.name }}
                                </a>
                            </span>

                        </div>
                        <div class="button-buy-box">
                            <form action="" method="post" style="float: right;">
                                {% csrf_token %}
                                {% if request|is_product_compare:product.id %}
                                    <button class="button-buy" id="btn_compare" name="action"
                                            value="remove_from_compare" style="max-width: 100px;">
                                        <span>Compare✔</span></button>
                                {% else %}
                                    <button class="button-buy" id="btn_compare" name="action" value="add_to_compare"
                                            style="max-width: 100px;">
                                        Compare
                                    </button>
                                {% endif %}
                            </form>
                            <button class="button-buy" type='submit' onclick="add2basket('{{ product.id }}')"
                                    id="btn_add2basket">Buy
                            </button>
                            <div>
                                {% if request.user.is_authenticated %}
                                    {% if is_wishlist %}
                                        <button style="display: table-row" class="button-unlike" type="button"
                                                onclick="wishlist('{{ product.id }}', 'del')"
                                                id='btn_wishlist'>
                                            unlike
                                        </button>
                                        <button style="display: none" class="button-like" type="button"
                                                onclick="wishlist('{{ product.id }}', 'add')"
                                                id='btn_wishlist'>
                                            like
                                        </button>
                                    {% else %}
                                        <button style="display: none" class="button-unlike" type="button"
                                                onclick="wishlist('{{ product.id }}', 'del')"
                                                id='btn_wishlist'>
                                            unlike
                                        </button>
                                        <button style="display: table-row" class="button-like" type="button"
                                                onclick="wishlist('{{ product.id }}', 'add')"
                                                id='btn_wishlist'>
                                            like
                                        </button>
                                    {% endif %}
                                    {% if is_sub_edit_price %}
                                        <button class="button-buy" style="width: 120px;" type="button"
                                                onclick="subeditprice('{{ product.id }}', 'del')"
                                                id='btn_subeditprice'>
                                            Unfollow price
                                        </button>
                                    {% else %}
                                        <button class="button-buy" style="width: 120px;" type="button"
                                                onclick="subeditprice('{{ product.id }}', 'add')"
                                                id='btn_subeditprice'>
                                            Follow price
                                        </button>
                                    {% endif %}

                                {% endif %}
                            </div>

                        </div>
                    </div>

                    <div style="background-color: #f5f5f5;padding: 30px;border-radius: 10px;width: 500px;display: flex;margin-top:10px;align-items: center;">
                        {% if rating_product %}
                            <b><span id='rating'>Raiting: {{ rating_product }}</span></b>
                        {% else %}
                            <div>
                                <b><span id='rating'>This product is not yet rated.</span></b>
                            </div>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <div id='block_rating' style="margin-left: auto;">
                                <span>Select raiting:</span>
                                <div>{{ select_rating|safe }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        {% if viewed_products %}
            <h2>Viewed products</h2>
            <div class="card-group" style="display: flex;">
                {{ viewed_products|safe }}
            </div>
        {% endif %}
        {% if recommend_pr %}
            <br><br><h2>Similar products</h2>
            <div class="card-group" style="display: flex;">
                {{ recommend_pr|safe }}
            </div>
        {% endif %}
        {% if buy_together %}
            <br><br><h2>Together with this product people buy:</h2>
            <div class="card-group" style="display: flex;">
                {{ buy_together|safe }}
            </div>
        {% endif %}
        {% if product.presentation_images %}
            <div id="presentation_cards" style="margin-top: 20px;">
                {% for image in product.presentation_images.all %}
                    <div id="img_{{ image.id }}" style="text-align: center;margin-top: 10px;">
                        <img style="width: 1200px;height: 400px;border-radius: 10px;object-fit: cover;}"
                             src="{{ image.image.url }}">
                        {% if product.author.id == request.user.id %}
                            <br><button style="float: right" onclick="del_img({{ image.id }})">delete</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if product.author.id == request.user.id %}
            <div style="background-color: lightgray;width: 1200px;height: 400px;margin: auto;border-radius: 10px;margin-top: 30px;">
                <div style="margin: auto;width: 500px;text-align: center;">
                    <form id="upload_present_photos" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <span style="font-size: 30px;color: gray;">recommended size: 1200x400px</span>
                        <input type="file" name="image" accept="image/*" id="id_image">
                        <input type="hidden" name="pid" value="{{ product.id }}">
                        <button>upload</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if product.file_digit %}{{ product.file_digit.url }}{% endif %}


    </div>

    <div id="About" class="tabcontent">
        <div>
            {% for attr in product.attrs.all %}
                <span class="attr_name">{{ attr.fkey_attr.name }}</span>:
                <span class="attr_value">{{ attr.value }}</span> <br>
            {% endfor %}
        </div>
    </div>

    <div id="Comments" class="tabcontent">
        <div>
            {% if user.is_authenticated %}
                <div style="border: 2px solid;border-radius: 10px;padding: 10px;width: 400px;">
                    <textarea style="max-width: 375px;margin: 0px;height: 64px;width: 558px;border-radius: 10px;"
                              name="comment" id="comment_text"></textarea><br>
                    <button class="btn send" name="action" value="addcom" onclick="add_comment()">Send</button>
                </div>
            {% endif %}
            <div class="comments_all" id="id_comments_all">
                {% for comm in product.comments.all %}
                    <div class="comment_card" id="comment_{{ comm.id }}">
                        {% load shop_tags %}
                        {% if request.user|has_group:"Moder" %}
                            <div>
                                <button class="btn del" onclick="del_comment({{ comm.id }})">delete</button>
                            </div>
                        {% endif %}
                        <div class="comment_user">{{ comm.user.username }}</div>
                        <div class="comment_text">{{ comm.text }}</div>
                        <div>
                            <span>likes: </span><span id="likes_{{ comm.id }}">{{ comm.likes }}</span>
                            {% if user.is_authenticated %}
                                {% load product_tags %}
                                {% if request.user|is_liked:comm.id %}
                                    <button class="btn_like" onclick="like_comm({{ comm.id }})">
                                        <img style="width: 25px;" id="like_{{ comm.id }}"
                                             src="/static/heart_active.png">
                                    </button>
                                {% else %}
                                    <button class="btn_like" onclick="like_comm({{ comm.id }})">
                                        <img id="like_{{ comm.id }}" src="/static/heart.png">
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            <hr>
                            <textarea class="textarea-reply" id="textarea_reply_{{ comm.id }}"
                                      placeholder="reply.."></textarea>
                            <button class="btn send" onclick="reply_comm({{ comm.id }})">reply</button>
                        {% endif %}
                        <div class="replies-block" id="rep_block_{{ comm.id }}">
                            {% for replie in comm.replies.all %}
                                <div class="reply" id="replie_{{ replie.id }}">
                                    <b>{{ replie.user.username }}</b>:{{ replie.text }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        document.getElementById("default").click();
    </script>

    <script>

        function del_comment(comm_id) {
            $.ajax({
                type: 'POST', url: '{% url "del_comment" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'comm_id': comm_id},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        var comm_card = "#comment_" + comm_id;
                        $(comm_card).remove();
                    } else {

                    }
                }
            });
        }

        function add_to_compare() {
            $.ajax({
                type: 'POST', url: '{% url "add_to_compare" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'pid': {{ product.id }}},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        $('#btn_compare').attr('onclick', 'del_from_compare()');
                        $('#btn_compare').text('Compare ✓');
                    } else {

                    }
                }
            });
        }

        function del_from_compare() {
            $.ajax({
                type: 'POST', url: '{% url "add_to_compare" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'pid': {{ product.id }}, 'cid': {{ product.cid.get.id }}},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        $('#btn_compare').attr('onclick', 'add_to_compare()');
                        $('#btn_compare').text('Compare');
                    } else {

                    }
                }
            });
        }

        function reply_comm(comm_id) {
            reply_textarea_id = '#textarea_reply_' + comm_id;
            reply_block_id = '#rep_block_' + comm_id;
            var reply_text = $(reply_textarea_id).val();
            $.ajax({
                type: 'POST', url: '{% url "reply_comment" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'comm_id': comm_id, 'text': reply_text},
                dataType: 'json',
                cache: false,
                success: function (data) {

                    if (data.success) {
                        var $reply = $('<div id="replie_' + data.reply_id + '"><b>{{ request.user.username }}</b>:' + data.reply_text + '</div>');
                        $reply.appendTo(reply_block_id);
                    } else {

                    }
                }
            });
        }

        function like_comm(comm_id) {
            like_b_id = '#like_' + comm_id;
            $.ajax({
                type: 'POST', url: '{% url "like_comment" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'comm_id': comm_id},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    var likes_id = "likes_" + comm_id;
                    var likes = document.getElementById(likes_id);
                    console.log(document.getElementById(likes_id));
                    if (data.success === 'like') {
                        likes.innerHTML = parseInt(likes.textContent) + 1;
                        $(like_b_id).attr('src', '/static/heart_active.png');
                    } else if (data.success === 'unlike') {
                        likes.innerHTML = parseInt(likes.textContent) - 1;
                        $(like_b_id).attr('src', '/static/heart.png');
                    }
                }
            });
        }

        function del_img(img_id) {
            $.ajax({
                type: 'POST', url: '{% url "del_presentation_image" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'img_id': img_id},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        var img_card = "#img_" + img_id;
                        $(img_card).remove();
                    } else {

                    }
                }
            });
        }

        $('#upload_present_photos').submit(function (e) {
            e.preventDefault();
            $form = $(this)
            var formData = new FormData(this);
            $.ajax({
                url: {% url 'add_presentation_image' %},
                type: 'POST',
                data: formData,
                success: function (response) {

                    console.log(response)
                    if (response.success) {
                        $img_card = $('<div id="img_' + response.img_id + '" style="text-align: center;margin-top: 10px;"> <img style="width: 1200px;height: 400px;border-radius: 10px;object-fit: cover;}"src=' + response.img + '> <br><button style="float: right" onclick="del_img(' + response.img_id + ')">delete</button></div>');
                        $img_card.appendTo('#presentation_cards');
                    } else {

                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });

        function add_comment() {
            var comment_text = $('#comment_text').val();
            $.ajax({
                type: 'POST', url: '{% url "add_comment" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'comment': comment_text, 'pid': {{ product.id }}},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        var $comment = $('<div class="comment_card"><div class="comment_user">{{ request.user.username }}</div> \
                            <div class="comment_text">' + data.comment_text + ' \ ' +
                            '</div><div><span>likes: </span><span id="likes_' + data.comm_id + '">0</span> ' + ' \ ' +
                            '<button class="btn_like" onclick="like_comm(' + data.comm_id + ')"> ' + ' \ ' +
                            '    <img id="like_' + data.comm_id + '" src="/static/heart.png"> ' + ' \ ' +
                            '</button>' + ' \ ' +
                            '</div>' + ' \ ' +
                            '<hr> <textarea style="" class="textarea-reply" id="textarea_reply_' + data.comm_id + '"placeholder="reply.."> \ ' +
                            '</textarea> <button class="btn send" onclick="reply_comm(' + data.comm_id + ')">reply</button> \ ' +
                            '<div class="replies-block" id="rep_block_' + data.comm_id + '"></div></div>');
                        {#var block_comments = document.getElementById('id_comments_all')#}
                        {#var first = block_comments.firstChild#}
                        {#wall.insertBefore($comment, first)#}
                        $comment.appendTo('.comments_all');

                    } else {

                    }
                }
            });
        }

        function add2basket(id) {
            $.ajax({
                type: 'POST', url: '{% url "basket_page" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'cnt': 1, 'type': 'add', 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        var $item = $('<span class="msg">' + data.success + '</span>');
                        $item.appendTo('.form_add_basket').delay(4000).slideUp(500, function () {
                            $item.remove();
                        });
                    } else {
                        var $item = $('<span class="msg">' + data.error + '</span>');
                        $item.appendTo('.form_add_basket').delay(4000).slideUp(500, function () {
                            $item.remove();
                        });
                    }
                }
            });
        }

        function wishlist(id, type_act) {
            var cnt = $('#cnt_product').val();
            $.ajax({
                type: 'POST', url: '{% url "wishlist" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'type': type_act, 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {

                        if (type_act == 'add') {
                            document.getElementsByClassName('button-like')[0].style.setProperty("display", "none");
                            document.getElementsByClassName('button-unlike')[0].style.setProperty("display", "table-row");
                        } else if (type_act == 'del') {
                            document.getElementsByClassName('button-like')[0].style.setProperty("display", "table-row");
                            document.getElementsByClassName('button-unlike')[0].style.setProperty("display", "none");
                        }

                    }
                }
            });
        }

        function subeditprice(id, type_act) {
            $.ajax({
                type: 'POST', url: '{% url "subeditprice" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'type': type_act, 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {

                        if (type_act == 'add') {
                            $('#btn_subeditprice').attr('onclick', 'subeditprice({{product.id}}, "del")');
                            $('#btn_subeditprice').text('Unfollow price');
                        } else if (type_act == 'del') {
                            $('#btn_subeditprice').attr('onclick', 'subeditprice({{product.id}}, "add")');
                            $('#btn_subeditprice').text('Follow price');
                        }

                    }
                }
            });
        }

        function subactivateproduct(id, type_act) {
            $.ajax({
                type: 'POST', url: '{% url "subactivateproduct" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'type': type_act, 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {

                        if (type_act == 'add') {
                            $('#btn_subactivateproduct').attr('onclick', 'subactivateproduct({{product.id}}, "del")');
                            $('#btn_subactivateproduct').text("don't inform about the availability");
                        } else if (type_act == 'del') {
                            $('#btn_subactivateproduct').attr('onclick', 'subactivateproduct({{product.id}}, "add")');
                            $('#btn_subactivateproduct').text("inform about the availability");
                        }

                    }
                }
            });
        }

        function edit_ratign(id) {
            var rating = $('#rating_product').val();
            $.ajax({
                type: 'POST', url: '{% url "rating_product" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'mark': rating, 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {

                        if (data.new_avg) {
                            $('#rating').text('Raiting: ' + data.new_avg)
                        } else {
                            $('#rating').text('This product is not yet rated.')
                        }
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
{% endblock %}