{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block head %}
    <link rel="stylesheet" href="/static/css/product-page.css">
    <script src="/static/js/product_tabs.js"></script>
{% endblock %}
{% block body %}
    <div><span class="product_title">{{ product.title }}</span></div>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Info')" id="default">Info</button>
        <button class="tablinks" onclick="openCity(event, 'About')">About</button>
        <button class="tablinks" onclick="openCity(event, 'Comments')">Comments</button>
    </div>
    <div id="Info" class="tabcontent">
        <div class="product_tab">
            <div class="product_image_side">
                {% if product.photo %}
                    <img src="{{ product.photo.url }}">
                {% else %}
                    <img class="product_img" src="/static/img.jpeg">
                {% endif %}
            </div>
            <div>
                <div class="buy-information">
                    <div>
                        <div>
                            {% if product.stock == 0 %}
                                <span style="color: darkgray;font-size: 30px;">out of stock :(</span><br>
                                {% if is_sub_active_product %}
                                    <button class="button-available" type="button" onclick="subactivateproduct('{{ product.id }}', 'del')"
                                            id='btn_subactivateproduct'>don't inform about the availability
                                    </button>
                                {% else %}
                                    <button class="button-available" type="button" onclick="subactivateproduct('{{ product.id }}', 'add')"
                                            id='btn_subactivateproduct'>inform about the availability
                                    </button>
                                {% endif %}
                            {% else %}
                                {% if product.old_price != 0 %}
                                    <span>old price: {{ product.old_price }}</span><br>
                                    <span class="product_price red">{{ product.price|mul:rate_select_currency }} {{ disp_select_currency }}</span>
                                    <br>
                                {% else %}
                                    <span class="product_price">{{ product.price|mul:rate_select_currency }} {{ disp_select_currency }}</span>
                                    <br>
                                {% endif %}
                            {% endif %}
                            <span class="product_brand">
                                Brand:
                                <a href="{% url 'brand_page' product.brand_id %}">
                                    {{ product.brand.name }}
                                </a>
                            </span>
                        </div>

                    </div>
                    <div class="button-buy-box">
                        <form action="" method="post" style="width: 200px;">

                            {% csrf_token %}
                            <button class="button-buy" name="action" value="add_to_compare">Compare</button>
                            <button class="button-buy" type='submit' onclick="add2basket('{{ product.id }}')"
                                    id="btn_add2basket">Buy
                            </button>
                            <div>
                                {% if request.user.is_authenticated %}
                                    {% if is_wishlist %}
                                        <button style="display: table-row" class="button-unlike" type="button"
                                                onclick="wishlist('{{ product.id }}', 'del')"
                                                id='btn_wishlist'>
                                            unlike
                                        </button>
                                        <button style="display: none" class="button-like" type="button"
                                                onclick="wishlist('{{ product.id }}', 'add')"
                                                id='btn_wishlist'>
                                            like
                                        </button>
                                    {% else %}
                                        <button style="display: none" class="button-unlike" type="button"
                                                onclick="wishlist('{{ product.id }}', 'del')"
                                                id='btn_wishlist'>
                                            unlike
                                        </button>
                                        <button style="display: table-row" class="button-like" type="button"
                                                onclick="wishlist('{{ product.id }}', 'add')"
                                                id='btn_wishlist'>
                                            like
                                        </button>
                                    {% endif %}
                                    {% if is_sub_edit_price %}
                                        <button class="button-buy" style="width: 120px;" type="button"
                                                onclick="subeditprice('{{ product.id }}', 'del')"
                                                id='btn_subeditprice'>
                                            Unfollow price
                                        </button>
                                    {% else %}
                                        <button class="button-buy" style="width: 120px;" type="button"
                                                onclick="subeditprice('{{ product.id }}', 'add')"
                                                id='btn_subeditprice'>
                                            Follow price
                                        </button>
                                    {% endif %}

                                    </div>
                                {% endif %}
                        </form>
                    </div>
                </div>
                <div style="background-color: #f5f5f5;padding: 30px;border-radius: 10px;width: 500px;display: flex;margin-top:10px;align-items: center;">
                    {% if rating_product %}
                        <b><span id='rating'>Raiting: {{ rating_product }}</span></b>
                    {% else %}
                        <div>
                            <b><span id='rating'>This product is not yet rated.</span></b>
                        </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <div id='block_rating' style="margin-left: auto;">
                            <span>Select raiting:</span>
                            <div>{{ select_rating|safe }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="About" class="tabcontent">
        <div>
            {% for attr in product.attrs.all %}
                <span class="attr_name">{{ attr.fkey_attr.name }}</span>:
                <span class="attr_value">{{ attr.value }}</span> <br>
            {% endfor %}
        </div>
    </div>

    <div id="Comments" class="tabcontent">
        <div>
            {% if user.is_authenticated %}
                <form action="" method="post">
                    {% csrf_token %}
                    <textarea name="comment"></textarea><br>
                    <button name="action" value="addcom" type="submit">Добавить</button>
                </form>
            {% endif %}
            {% for comm in product.comments.all %}
                <div class="comment_card">
                    <div class="comment_user">{{ comm.user.username }}</div>
                    <div class="comment_text">{{ comm.text }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.getElementById("default").click();
    </script>

    {% if product.file_digit %}{{ product.file_digit.url }}{% endif %}

    </form>
    {% if viewed_products %}
        <h2>Просмотренные товары:</h2>
        <div class="card-group">
            {{ viewed_products|safe }}
        </div>
    {% endif %}
    {% if recommend_pr %}
        <br><br><h2>Похожие товары:</h2>
        <div class="card-group">
            {{ recommend_pr|safe }}
        </div>
    {% endif %}
    {% if buy_together %}
        <br><br><h2>Покупают вместе</h2>
        <div class="card-group">
            {{ buy_together|safe }}
        </div>
    {% endif %}

    <script>
        function add2basket(id) {
            $.ajax({
                type: 'POST', url: '{% url "basket_page" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'cnt': 1, 'type': 'add', 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        var $item = $('<span class="msg">' + data.success + '</span>');
                        $item.appendTo('.form_add_basket').delay(4000).slideUp(500, function () {
                            $item.remove();
                        });
                    } else {
                        var $item = $('<span class="msg">' + data.error + '</span>');
                        $item.appendTo('.form_add_basket').delay(4000).slideUp(500, function () {
                            $item.remove();
                        });
                    }
                }
            });
        }

        function wishlist(id, type_act) {
            var cnt = $('#cnt_product').val();
            $.ajax({
                type: 'POST', url: '{% url "wishlist" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'type': type_act, 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {

                        if (type_act == 'add') {
                            document.getElementsByClassName('button-like')[0].style.setProperty("display", "none");
                            document.getElementsByClassName('button-unlike')[0].style.setProperty("display", "table-row");
                            {#$('#btn_wishlist').attr('onclick', 'wishlist({{product.id}}, "del")');#}
                            {#$('#btn_wishlist').text('Удалить из вишлиста');#}
                        } else if (type_act == 'del') {
                            document.getElementsByClassName('button-like')[0].style.setProperty("display", "table-row");
                            document.getElementsByClassName('button-unlike')[0].style.setProperty("display", "none");
                            {#$('#btn_wishlist').attr('onclick', 'wishlist({{product.id}}, "add")');#}
                            {#$('#btn_wishlist').text('Добавить в вишлист');#}
                        }

                    }
                }
            });
        }

        function subeditprice(id, type_act) {
            $.ajax({
                type: 'POST', url: '{% url "subeditprice" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'type': type_act, 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {

                        if (type_act == 'add') {
                            $('#btn_subeditprice').attr('onclick', 'subeditprice({{product.id}}, "del")');
                            $('#btn_subeditprice').text('Unfollow price');
                        } else if (type_act == 'del') {
                            $('#btn_subeditprice').attr('onclick', 'subeditprice({{product.id}}, "add")');
                            $('#btn_subeditprice').text('Follow price');
                        }

                    }
                }
            });
        }

        function subactivateproduct(id, type_act) {
            $.ajax({
                type: 'POST', url: '{% url "subactivateproduct" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'type': type_act, 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {

                        if (type_act == 'add') {
                            $('#btn_subactivateproduct').attr('onclick', 'subactivateproduct({{product.id}}, "del")');
                            $('#btn_subactivateproduct').text("don't inform about the availability");
                        } else if (type_act == 'del') {
                            $('#btn_subactivateproduct').attr('onclick', 'subactivateproduct({{product.id}}, "add")');
                            $('#btn_subactivateproduct').text("inform about the availability");
                        }

                    }
                }
            });
        }

        function edit_ratign(id) {
            var rating = $('#rating_product').val();
            $.ajax({
                type: 'POST', url: '{% url "rating_product" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'mark': rating, 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {

                        if (data.new_avg) {
                            $('#rating').text('Raiting: ' + data.new_avg)
                        } else {
                            $('#rating').text('This product is not yet rated.')
                        }
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
{% endblock %}