{% extends 'base.html' %}
{% load mathfilters %}
{% block head %}
    <link rel="stylesheet" href="/static/css/checkout-page.css">
{% endblock %}
{% block body %}
    <div style="padding: 10px;">
        Filters:
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="filter" value="1">
            Minimum order amount in conventional units: <input type="number" name="min_amount" step="0.01"
                                                               value="{{ filter.total_amount__gte }}">
            Maximum order amount in conventional units: <input type="number" name="max_amount" step="0.01"
                                                               value="{{ filter.total_amount__lte }}"><br>
            Registration date from <input type="date" name="date_start" value="{{ filter.date_start }}">
            Registration date before <input type="date" name="date_end" value="{{ filter.date_end }}"><br>
            Order status:
            <select name='status'>
                <option value="">Any status</option>
                {% for x,y in all_status.fields.status.choices %}
                    <option value="{{ x }}" {% if filter.status == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>

        </form>

    </div>
    <div style="padding: 10px;margin: 10px;border-radius: 10px;border: 2px solid;">
        <table class="card_table separ" style="border-collapse: collapse;border:none;">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">User</th>
                <th scope="col">Promo</th>
                <th scope="col">Сurrency</th>
                <th scope="col">Price including the exchange rate</th>
                <th scope="col">Delivery cost in foreign currency</th>
                <th scope="col">Amount to be paid</th>
                <th scope="col">Status</th>
                <th scope="col">Courier</th>
            </tr>
            </thead>
            <tbody>

            {% for invoice in all_invoices %}
                <tr>
                    <td><a href="{% url 'invoice_page' invoice.id %}" target="_blank">{{ invoice.id }}</a></td>
                    <td>{{ invoice.user }}</td>
                    <td>{{ invoice.promo }}</td>
                    <td>{{ invoice.currency }}</td>
                    <td>{{ invoice.total_amount|mul:invoice.rate_currency }}<br><small
                            title='в у.е.'>{{ invoice.total_amount }}</small></td>
                    <td>{{ invoice.cost_of_delivery|mul:invoice.rate_currency }}</td>
                    <td>{{ invoice.total_amount|mul:invoice.rate_currency }}</td>
                    <td>
                        <form action="{% url 'change_invoice' %}" method="POST" id='change_status_{{ invoice.id }}'>
                            {% csrf_token %}
                            <input type="hidden" name='id_order' value={{ invoice.id }}>
                            <select onchange="document.getElementById('change_status_{{ invoice.id }}').submit()"
                                    name='status'>
                                {% for x,y in all_status.fields.status.choices %}
                                    <option value="{{ x }}"{% if invoice.get_status_display == y %}
                                            selected{% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select></form>
                    </td>
                    <td>
                        <select name="" id="select_courier_order_{{ invoice.pk }}">
                            <option value="0">No courier assigned</option>
                            {% for courier in all_couriers %}
                                <option value="{{ courier.pk }}"
                                        {% if invoice.courier == courier %}selected{% endif %}>{{ courier.email }}</option>
                            {% endfor %}
                        </select>
                        <button id='btn_courier_{{ invoice.pk }}' onclick="select_courier({{ invoice.pk }})">Ok</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>

        function select_courier(id_order) {
            var id_courier = $('#select_courier_order_' + id_order).val()
            $.ajax({
                type: 'POST', url: '{% url "select_courier" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'order': id_order, 'courier': id_courier,},
                dataType: 'json',
                cache: false,
                success: function (data) {

                    if (data.success) {
                        $('#btn_courier_' + id_order).after(data.success);
                    } else {
                        $('#btn_courier_' + id_order).after(data.error);
                    }
                }
            })
        }
    </script>
{% endblock %}