{% extends 'base.html' %}
{% load mathfilters %}
{% block head %}
    <link rel="stylesheet" href="/static/css/checkout-page.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}

    <div id="order" class="popup">
        <a href="" class="popup_area"></a>
        <div class="popup_body">
            <div id="order_content" class="popup_content">
                <div class="popup_text">

                </div>
            </div>
        </div>
    </div>

    <div class="card_checkout">
        {% if products %}
            <table class="card_table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Title</th>
                    <th scope="col">price</th>
                    <th scope="col">QTY</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for id, product in products.items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'product_page' id %}">{{ product.title }}</a></td>
                        <td>{{ product.price|mul:rate_select_currency }} {{ disp_select_currency }}</td>
                        <td><input onchange="edit_qty({{ product.id }}, this.value)" type="number" min="1"
                                   value="{{ product.qty }}">
                        </td>
                        <td>
                            <button class="button_del" type='submit' onclick="del_basket('{{ product.id }}')">X</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form action="" method="POST" id='order_info_form'>
                {% csrf_token %}
                {% for delivery in all_delivery %}
                    <input type="radio" name='delivery' value="{{ delivery.id }}" id="">
                    <b>{{ delivery.name }}</b>
                    <span id='desc_del_{{ delivery.id }}'>{{ delivery.description }}
                <span class='desc_info'></span>
                </span>
                    <br>
                {% endfor %}
                <input type="text" placeholder="Promocode" name='promo_code' id='promo_code'>
                <button type="button" onclick="is_promo()" id="btn_promo">Check</button>
                <br><br>
                <input type='hidden' id='delivery_department' name="delivery_department" value=''>
                <input type="text" required placeholder="Phone number" name='phone_number'><br><br>
                <input type="text" required placeholder="Full name" name='full_name'
                       value="{{ request.user.first_name }} {{ request.user.last_name }}"><br><br>
                <br><textarea name='notes' placeholder="Your comment" rows="5" cols="45"></textarea><br>
            </form>
            <hr>
            <div id="sum_info">
                <p>Total cost: <span
                        class='total_cost'>{{ total_cost|mul:rate_select_currency |floatformat:2 }} {{ disp_select_currency }}</span>
                </p>
                <p><span class='cost_delivery'></span></p>
            </div>
            <button type="button" onclick="create_order()">Checkout</button>
        {% else %}
            Empty :(
        {% endif %}
    </div>
    <script>
        function del_basket(id) {
            $.ajax({
                type: 'POST', url: '{% url "basket_page" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'type': 'del', 'id': id,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        $('table tbody').html(data.responce);

                    }
                }
            });
        }

        function edit_qty(id_p, val_qty) {
            console.log(id_p, val_qty);
            $.ajax({
                type: 'POST', url: '{% url "basket_page" %}',
                data: {
                    'csrfmiddlewaretoken': scrf_token,
                    'type': 'add',
                    'id': id_p,
                    'cnt': val_qty,
                    'type_basket': 'edit'
                },
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        $('.total_cost').text(data.total_cost);

                    }
                }
            });
        }

        function select_delivery(type_v, type_d, ref = undefined) {
            if (type_d == 'novaposhta') {
                if (type_v == 'city') {
                    $('.warehouses_novaposhta_delivery').remove();
                } else if (type_v == 'region') {
                    $('.city_novaposhta_delivery').remove();

                }

            }
            $.ajax({
                type: 'POST', url: '{% url "calc_delivery" %}',
                data: {
                    'csrfmiddlewaretoken': scrf_token,
                    'sel_val': $('.' + type_v + '_' + type_d + '_delivery').val(),
                    'type_d': type_d,
                    'type_v': type_v,
                    'ref': ref
                },
                dataType: 'json',
                cache: false,
                success: function (data) {
                    console.log('data.cost')
                    console.log(data.cost)
                    if (data.in_html) {
                        console.log(this.value)
                        $('#desc_del_' + id_delivery).append(data.in_html)
                    } else if (data.cost || data.cost == 0) {
                        console.log(data.cost)
                        $('#delivery_department').val(data.war_ref)
                        $('.cost_delivery').html('Shipping cost ' + data.cost)
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            })
        }

        function is_promo() {
            $.ajax({
                type: 'POST', url: '{% url "basket_page" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'promocode': $('#promo_code').val(),},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        $('#sum_info').append('<p>Сумма с учетом скидки - ' + data.success + '</p>')
                    } else {
                        var $item = $('<span class="error_promo">' + data.error + '</span>');
                        $item.after('#btn_promo').delay(4000).slideUp(500, function () {
                            $item.remove();
                        });
                    }
                }
            })
        }

        $('input[name=delivery]').change(function () {
            $('.desc_info').remove();
            id_delivery = this.value
            $.ajax({
                type: 'POST', url: '{% url "calc_delivery" %}',
                data: {'csrfmiddlewaretoken': scrf_token, 'delivery_id': id_delivery,},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.in_html) {
                        console.log(this.value)
                        $('#desc_del_' + id_delivery).append(data.in_html)
                    } else if (data.cost || data.cost == 0) {
                        $('.cost_delivery').html('Shipping cost ' + data.cost)
                    }
                }
            })
        })

        function create_order() {
            var form = new FormData(document.getElementById('order_info_form'))
            console.log(form)
            $.ajax({
                type: 'POST', url: '{% url "checkout_page" %}',
                data: form,
                dataType: 'json',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    if (data) {
                        $('.popup_text').html(data.msg);
                        {#location.href = '#order';#}
                        document.getElementById('order').style.visibility = 'visible';
                        document.getElementById('order').style.opacity = 1;
                        document.getElementById('order').style.animation = 'fading 1s';
                        document.getElementById('order_content').style.animation = 'pop_content 0.5s';
                    }
                }
            });
        }

        document.getElementsByName("delivery")[0].checked = true;
    </script>
{% endblock %}