{% extends 'base.html' %}
{% load mathfilters %}
{% block head %}
    <link rel="stylesheet" href="/static/css/checkout-page.css">
{% endblock %}
{% block body %}

    <div class="card_checkout">

        Order status - {{ order.get_status_display }}<br>
        Courier - {% if order.courier %}{{ order.courier.email }}{% else %} not set {% endif %} <br>
        Promo - {% if order.promo %}{{ order.promo }}{% else %} no {% endif %} <br>
        Telephone - {% if order.phone_number %}{{ order.phone_number }}{% else %} no {% endif %} <br>
        Full name - {% if order.full_name %}{{ order.full_name }}{% else %} no {% endif %} <br>
        Comment - {% if order.notes %}{{ order.notes }}{% else %} no {% endif %} <br>
        Delivery - {{ order.delivery_method }} <br>
        {% if delivery_department %}{{ delivery_department|safe }} <br><br> {% endif %}
        Cost of delivery - {{ order.cost_of_delivery }} <br>


        <table class="card_table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cost in selected currency per unit</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>

            {% for good in goods %}
                <tr>
                    <td><a href="{% url 'product_page' good.product.id %}" target="_blank">{{ good.title_good }}</a>
                    </td>
                    <td>{{ good.cost|mul:order.rate_currency }}</td>
                    <td>{{ good.qty }}</td>
                    <td></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id_order" value="{{ order.id }}">
            {% if pay %}
                <input type="hidden" name="mode" value='pay_order'>
                <button type="submit">Оплатить</button>
            {% endif %}
            {% if cancel_order %}
                <input type="hidden" name="mode" value='cancel_order'>
                <button type="submit">Отменить</button>
            {% endif %}
        </form>
        {% if digital %}
            {% for name, link in digital.items %}
                <a href="{{ link }}">Скачать {{ name }}</a><br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}