{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/user-page.css">
{% endblock %}
{% block body %}

    <div class="control_panel_div">

        <div style="float: right">
            <span>Send events to my mail</span>
            {% if request.user.subscription_email %}
                <input type="checkbox" checked onchange="send_emails_user()">
            {% else %}
                <input type="checkbox">
            {% endif %}
        </div>

        <form class="user_change_form">
            <input type="text" placeholder="first name" name="first_name">
            <input type="text" placeholder="last name" name="last_name">
            <button class="btn change">Change</button>
        </form>

        <button onclick="location.href='{% url 'logout' %}'" class="btn sign_out">sign out</button>
        {% load shop_tags %}
        {% if request.user|has_group:"Seller" %}
            <button class="btn my_products" onclick="location.href='{% url 'seller_products' %}'">my products</button>
        {% endif %}
        <button class="btn my_products" onclick="location.href='{% url 'wishlist_page' %}'">Wishlist</button>
    </div>
    <script>
        function send_emails_user() {

        }
    </script>
{% endblock %}