{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/user-page.css">
{% endblock %}
{% block body %}

    <div class="control_panel_div">

        <div style="float: right">
            <span>Send events to my mail</span>
            {% if request.user.subscription_email %}
                <input id="sub_email" type="checkbox" checked onchange="mail_sub()">
            {% else %}
                <input id="sub_email" type="checkbox" onchange="mail_sub()">
            {% endif %}
        </div>

        <form class="user_change_form" id="user_full_name">
            {% csrf_token %}
            <input type="text" placeholder="first name" name="first_name">
            <input type="text" placeholder="last name" name="last_name">
            <button type="submit" class="btn change">Change</button>
        </form>

        <button onclick="location.href='{% url 'logout' %}'" class="btn sign_out">sign out</button>
        {% load shop_tags %}
        {% if request.user|has_group:"Seller" %}
            <button class="btn my_products" onclick="location.href='{% url 'seller_products' %}'">my products</button>
        {% endif %}
        <button class="btn my_products" onclick="location.href='{% url 'wishlist_page' %}'">Wishlist</button>
    </div>
    <script>
        function mail_sub() {
            $.ajax({
                type: 'POST', url: '{% url "mail_sub" %}',
                data: {'csrfmiddlewaretoken': scrf_token},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.sub) {

                    } else {

                    }
                }
            });
        }

        $('#user_full_name').submit(function (e) {
            e.preventDefault();
            $form = $(this)
            var formData = new FormData(this);
            $.ajax({
                url: {% url 'change_fullname' %},
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $('#user_full_name')[0].reset();
                    } else {

                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    </script>
{% endblock %}