<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<div class="topnav">
    <a class="active left_side" href="{% url 'start_page' %}"><img src="/static/logo_shop.png"><span>shop</span></a>
    <a class="active right_side" {% if request.user.is_authenticated %} href="{% url 'user_page' %}" {% else %}
       href="{% url 'login' %}" {% endif %}>
        <img src="/static/userlogo.png">
        {% if not request.user.is_authenticated %}
            <span>sign in</span>
        {% endif %}
    </a>
    <div class="search-container">
        <form action="{% url "search_products_page" %}">
            <input id="id_search_query" type="text" placeholder="Search.." name="q">
            <button class="button_search" type="submit"><img class="search-img" src="/static/search.png"></button>
        </form>
        <button onclick="record()" class="button_voice"><img src="/static/mic.png"></button>
    </div>
    <button class="button_compare" onclick="location.href='#compare'">compare</button>

    <button class="button_compare" onclick="location.href='{% url 'coco' %}'">auth with contact</button>

    {% load shop_tags %}
    {% if request.user|has_group:"Seller" %}
        <button class="button_compare" onclick="location.href='{% url 'seller_products' %}'">my products</button>
    {% endif %}
</div>
{% block body %}

{% endblock %}
<div id="popup" class="popup">
    <a href="" class="popup_area"></a>
    <div class="popup_body">
        <div class="popup_content">
            <div class="popup_text">
                <img class="img_mic" src="/static/mic.png">
                speak
            </div>
        </div>
    </div>
</div>
<div id="compare" class="popup">
    <a href="" class="popup_area"></a>
    <div class="popup_body">
        <div class="popup_content">
            <div class="popup_text">
                <span class="text_top">ur categories to comparison:</span><br>
                {% if request.session.compare %}
                    {% for category in request.session.compare %}
                        <div id="category_{{ category }}">
                            <a class="link_category" href="{% url 'compare_page' category %}">{{ category }}</a>
                            <form class="form_delete_category" id="del_category_{{ category }}" method="post">
                                {% csrf_token %}
                                <input id="category_id_{{ category }}" type="hidden" value="{{ category }}">
                                <button onclick="remover(document.getElementById('category_id_{{ category }}').value)">
                                    <img class="img_trash" src="/static/trash.png">
                                </button>
                            </form>
                            <br>
                        </div>
                    {% endfor %}
                {% else %}
                    <span class="text_empty">empty.</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function record() {
        location.href = '#popup';
        var recognition = new webkitSpeechRecognition();
        recognition.lang = "en-US";
        recognition.onresult = function (event) {
            document.getElementById('id_search_query').value = event.results[0][0].transcript;
            location.href = "{% url 'search_products_page' %}?q=" + event.results[0][0].transcript;
        }
        recognition.start();
    }
</script>
{# delete category from comparison#}
<script type="text/javascript">
    function remover(cid) {
        var cid_ = "#category_id_" + cid;
        $(document).on('submit', "#del_category_" + cid, function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: {% url 'del_category' %},
                data: {
                    category: $(cid_).val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    var categ = "#category_" + cid;
                    $(categ).remove();
                }
            });
        });
    }
</script>
</body>
</html>
