{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/search-products.css">
{% endblock %}
{% block body %}
    <div class="products" style="display: flex;margin-top: 10px;">
        {% for product in products %}
            <div class="product_card" onclick="location.href='{% url 'product_page' product.id %}'">
                {% load static %}
                {% if product.photo %}
                    <img src="{{ product.photo.url }}">
                {% else %}
                    <img src="/static/img.jpeg">
                {% endif %}
                <a href="{% url 'product_page' product.id %}">{{ product.title }}</a>
                {% if product.old_price != 0 %}
                    <span style="text-align: center">old price: {{ product.old_price }}</span>
                    <span class="product_card_price" style="color: red;">{{ product.price }}</span>
                {% else %}
                    <span class="product_card_price">{{ product.price }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}