{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/start-page.css">
{% endblock %}
{% block body %}
    <div style="float: left;background-color: gainsboro;padding: 10px;border-radius: 10px;margin: 10px;font-size: 20px;">
        <span>Categories:</span><br>
        {% for category in categories %}
            <span><a href="{% url 'search_products_page' %}?q={{ category.name }}">{{ category.name }}</a></span><br>
        {% endfor %}
    </div>
    {% if promotions %}
        <div class="slideshow-container">
            {% for promotion in promotions %}
                <div class="mySlides fade">
                    <img onclick="location.href='{% url 'promotion_page' promotion.id %}'"
                         src="{{ promotion.image.url }}">
                    <div class="text">{{ promotion.title }}</div>
                </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
            {% for promotion in promotions %}
                <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
            {% endfor %}
        </div>


    {% endif %}


    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
{% endblock %}